<!-- мы наследуем всё от файла base.html -->
{% extends 'teacher/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'teacher/css/schedule.css' %}">
{% endblock %}

{% block title %}учебный план{% endblock %}

{% block custom %}
  <div class="frame frame-1">
    <h3>Расписание</h3>
    <!-- <div class="group">
      <div class="about_group">
        <p class="big"><strong>Группа:</strong> ИСТ-1-23</p>
        <div class="texts">
          <p><strong>Семестр:</strong> 3</p>
          <p><strong>Предмет:</strong> Программирование</p>
        </div>
      </div>
      <a href="" class="btn_custom button-navigate"></a>
    </div> -->
    <div class="block">
      <div class="nav">
        <a href="#" onclick="showSchedule('понедельник')">Понедельник</a>
        <a href="#" onclick="showSchedule('вторник')">Вторник</a>
        <a href="#" onclick="showSchedule('среда')">Среда</a>
        <a href="#" onclick="showSchedule('четверг')">Четверг</a>
        <a href="#" onclick="showSchedule('пятница')">Пятница</a>
        <a href="#" onclick="showSchedule('суббота')">Суббота</a>
      </div>

      <div id="понедельник" class="schedule">
        <h4>Расписание на понедельник</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Предмет</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td><span>Нет пары</span></td><td><span>Нет пары</span></td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>ИСТ-1-23</td><td>Программирование</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>ГД-2-22</td><td>Программирование</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td>ПИЭ-1-21</td><td>Программирование</td><td>16:40-18:10</td></tr>
        </table>
      </div>

      <!-- Вторник -->
      <div id="вторник" class="schedule">
        <h4>Расписание на вторник</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td>Теория вероятностей</td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>Программирование</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>Программирование</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td>Разработка и применение ППП в ИС</td><td>16:40-18:10</td></tr>
        </table>
      </div>

      <!-- Среда -->
      <div id="среда" class="schedule">
        <h4>Расписание на среду</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td><span>Нет пары</span></td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>Информационные технологии</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>Теория вероятностей</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td>Философия</td><td>16:40-18:10</td></tr>
        </table>
      </div>

      <!-- Четверг -->
      <div id="четверг" class="schedule">
        <h4>Расписание на четверг</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td><span>Нет пары</span></td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>Информационные технологии</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>Разработка Windows-приложений</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td>Физическая культура</td><td>16:40-18:10</td></tr>
        </table>
      </div>

      <!-- Пятница -->
      <div id="пятница" class="schedule">
        <h4>Расписание на пятницу</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td><span>Нет пары</span></td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>Программирование</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>Программирование</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td>Философия</td><td>16:40-18:10</td></tr>
        </table>
      </div>

      <!-- Суббота -->
      <div id="суббота" class="schedule">
        <h4>Расписание на субботу</h4>
        <table class="lessons">
          <tr><th>№</th><th>Пары</th><th>Время</th></tr>
          <tr><td>1</td><td><span>Нет пары</span></td><td>8:20-9:50</td></tr>
          <tr><td>2</td><td><span>Нет пары</span></td><td>10:00-11:30</td></tr>
          <tr><td>3</td><td>Теория вероятностей</td><td>11:40-13:10</td></tr>
          <tr><td>4</td><td>Разработка и применение ППП в ИС</td><td>13:20-14:50</td></tr>
          <tr><td>5</td><td>Физическая культура</td><td>15:00-16:30</td></tr>
          <tr><td>6</td><td><span>Нет пары</span></td><td>16:40-18:10</td></tr>
        </table>
      </div>
    </div>
  </div>
  <script src="{% static 'teacher/js/schedule.js' %}"></script>
{% endblock %}