* {
  font-family: 'Montserrat Alternates', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 5vh;
}

.head {
  display: flex;
  flex-direction: column;
  height: 7%;
  margin: 0;
  padding: 0;
}

.logo {
  color: black;
  outline-style: none;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  margin: 0.6% 5%;
}

.mini {
  font-size: 1em;
  gap: 5em;
}

.logo i {
  transition: transform 0.3s ease;
  display: inline-block;
}

.logo i:hover {
  transform: scale(1.05); /* Увеличиваем иконки внутри .logo на 10% при наведении */
}

.logo span {
  transition: transform 0.275s ease;
  display: inline-block;
}

.logo span:hover {
  transform: scale(1.05);
}


.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;

  border: none;
  border-top: 2px solid black;
}

.icons {
  display: flex;
  justify-content: space-around;
}


/* внутренняя шапка */
.mini_head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2vh;

  margin: 0 auto;

  width: 100%;
  height: 10vh;
  background-color: #FFB6C1;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), /* Внешняя тень */
                inset 0 0 15px rgba(255, 255, 255, 0.3); /* Внутренняя тень */
  transition: top 0.3s ease;
}

/* фиксация mini_head */
.mini_head.fixed {
  position: fixed;
  width: 85.4%;
  height: 3.7em;
  top: 0;
  z-index: 1000;
  background-color: #ffb6c1da;
  box-shadow: 0 0 10px rgb(0, 0, 0), /* Внешняя тень */
                inset 0 0 15px rgba(255, 255, 255, 0.3); /* Внутренняя тень */
  /* border: 2px solid black; */
}

.content.content_after_fixed {
  /* учти margin должен быть чуть больше чем высота mini_head.fixed чтобы было красиво */
  margin-top: 4em;
}

.mini_head .mini_title {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

.mini_head ul {
  display: flex;
  gap: 1%;
  min-width: 30%;

  margin: 0;
}

.mini_head li {
  list-style-type: none;
}

.mini_head a {
  text-decoration: none;
}

.mini_head li p {
  color: rgba(0, 0, 0, 0.488);
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.mini_head .active {
  display: inline-block;
  color: black;
  transition: transform 0.15s ease;
}

.mini_head .active:hover {
  transform: scale(1.03);
}

.mini_head ul {
  font-size: 1em;
}

/* контейнер */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;

  width: 90%;
  height: 93%;
  background-color: #ff435f;
  border-radius: 0 0 10px 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 85vh;
  font-size: 2.5vh;
  margin: 1vh 0;
  gap: 1em;
  padding: 5vh 0;
  
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), /* Внешняя тень */
                inset 0 0 15px rgba(255, 255, 255, 0.3); /* Внутренняя тень */
}


/* блок информации */
.information_block {
  display: flex;
  align-items: center;

  width: 95%;
  height: 13em;

  background-color: #FFB6C1;
  border-radius: 10px;
  margin: 0.5%;
}

/* фото факультета */
.frame_photo {
  width: 13em;
  min-width: 17%;
  /* max-width: 13em; */
  height: 10em;

  margin: 1em;
  
  border-radius: 10px;
  /* скрывает то что выходит за рамки */
  overflow: hidden;
  padding: 0.4em;
  box-shadow: 0 0 10px #ff435f, inset 0 0 10px #ff435f; /* внешняя тень для блока */
  background-color: #ff435f;
  transition: transform 0.3s ease;
}

.frame_photo:hover {
  transform: scale(1.05);
}

.frame_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* внутренняя тень */
  border-radius: 8px; /* немного меньше радиус, чтобы тень была заметнее */
}

/* инфа про факльтета или группу */
.about {
  width: 70%;
  margin: 1em;
}

.about h4 {
  font-size: 1.5em;
}

.about p {
  font-size: 1em;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: end;

  padding-right: 3em;
  width: 100%;
}

.buttons {
  margin: 3% 0 2% 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* стили кнопок */
.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 15em;
  height: 2em;
  
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 3px black , inset 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
  
  text-decoration: none;  
  background-color: red;
  color: white;
}

.button-more:hover {
  transform: scale(1.02);
}

.button-more:active {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
  transform: scale(0.99); /* Легкое уменьшение кнопки при нажатии */
}


.button-update {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 15em;
  height: 2em;
  
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) , inset 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
  
  text-decoration: none;  
  background-color: rgb(0, 0, 0);
  color: white;
}

.about_applicant .button-update {
  margin: 18% 1% 1% 1%;
}

.button-update:hover {
  transform: scale(1.02);
}

.button-update:active {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
  transform: scale(0.99); /* Легкое уменьшение кнопки при нажатии */
}

.back:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
              inset 0 0 10px rgb(255, 0, 0);
}

.back:active {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.734),
              inset 0 0 10px rgb(255, 0, 0);
}

.save:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
              inset 0 0 10px rgb(3, 255, 58);
}

.save:active {
  box-shadow: 0 0 10px rgb(3, 255, 58),
              inset 0 0 10px rgb(3, 255, 58);
}

.button-for-exit {
  padding: 0 1em;
  
  width: 15em;
  height: 4em;
  gap: 1em;
  
  box-shadow: 0 0 3px rgb(0, 0, 0) , inset 0 0 10px rgba(255, 255, 255, 0.5);

  background-color: #dedede;
  color: rgb(0, 0, 0);
}