* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  display: flex;
  font-size: 2vh;
}

/* левая панель навигации */
.sidebar {
  display: flex;

  align-items: center;
  flex-direction: column;
  position: fixed;
  
  left: 0;

  min-width: 25%;
  width: 25%;
  height: 100vh;
  
  background-color: #8378ff;
  border-right: 2px solid black;
  padding-bottom: 4em;
}

h2 {
  display: inline-block;
  margin: 1.8em auto 0 0.8em;
  font-size: 2.5em;
}

.container-header h4 {
  font-size: 2em;
  margin: 3.8% 0 0 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 57%;
  list-style: None;
  font-size: 1.5em;
  margin: 12% auto 0 15%;
  padding: 0;
}

.sidebar li {
  transition: transform 0.3s ease-out;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0;
}

.sidebar li:hover {
  transform: scaleX(1.05);
}

.sidebar li a {

  text-decoration: none;
  color: rgb(75, 75, 75);
}

.sidebar li a i {
  color: black;
  margin-right: 3%;
}

.sidebar .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 15%;
  width: 100%;
}

.logo {
  color: black;
  outline-style: none;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  margin: auto 0;
  display: block;
}

.logo i {
  transition: transform 0.3s ease;
  display: inline-block;
}

.logo i:hover {
  transform: scale(1.05);
}

.logo span {
  transition: transform 0.275s ease;
  display: inline-block;
}

.logo span:hover {
  transform: scale(1.05);
}

.icons {
  display: flex;
  justify-content: space-around;
}

/* контейнер и то что внутри */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  padding: 0;
  width: 75%;
  max-width: None;
  margin-left: 25%;
  min-height: 100vh;
  background-color: #ffffff;
}

.container-header {
  position: fixed;
  top: 0;

  width: 70%;
  height: 7em;

  background-color: #8378ff;
  border-radius: 0 0 15px 15px;
  border: 1px solid black;
  border-top: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
              inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.container-header-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.help {
  padding: 0;
  margin: 0;
}

/* кастом */
.custom {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 2em;
}

.frame {
  display: flex;
  justify-content: space-around;

  width: 90%;
  padding: 1%;
  gap: 2%;

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
              inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.button-for-exit {
  width: 8em;
  height: 3em;
}
