<!-- наследуем все от base.html -->
{% extends 'applicant/base.html' %}

<!-- помогает загрузить статические файлы  -->
{% load static %}

<!-- тайтл -->
{% block title %}Личный кабинет студента{% endblock %}

<!-- можно подключать стили -->
{% block styles %}
<link rel="stylesheet" href="{% static 'applicant/css/personal_account.css' %}">
{% endblock %}

<!-- h3 в base -->
{% block h3 %}Личный аккаунт абитуриента:  <span>{{ profile.surname }} {{ profile.name }}</span>{% endblock %}

{% block custom %}
<h4>Как вступить группу и стать студентом ОшГУ?</h4>
<ul>
  <li>Перейдите в список факультетов, нажав на кнопку "Список факультетов".</li>
  <li>Выберите нужный факультет, и откроется список групп, доступных в этом факультете.</li>
  <li>Перейдите в выбранную группу, чтобы узнать больше о ней: какие предметы и преподаватели будут, что вы будете изучать, сколько лет продлится обучение и минимальный балл по ОРТ для поступления.</li>
  <li>Если вы приняли решение вступить в эту группу, у вас есть два варианта: 1) Вступить в группу на контрактной основе. 2) Вступить в группу на бюджетной основе.</li>
  <li>При выборе "Вступить в группу на контрактной основе" вы моментально вступите в группу, если ваш ОРТ балл превышает минимально требуемый.</li>
  <li>Для поступления на бюджетную основу вам нужно набрать ОРТ баллов, превышающих минимальный порог. Каждая группа имеет индивидуальный бюджетный лимит, например, только 10% или 20% студентов могут быть зачислены на бюджет.</li>
</ul>
<p>"<strong>Внимание:</strong> не забудьте предоставить нам все необходимые документы после того, как вы вступите в группу!"</p>

<a href="{% url 'applicant:faculty_list' %}" class="button-faculty">Список факультетов</a>
{% endblock %}