  <!-- мы наследуем всё от файла layout -->
  {% extends 'main/layout.html' %}
  {% load static %}

  {% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/help.css' %}">
  {% endblock %}

  {% block content %}
  <div class="body_help">
    <div class="head">
      <div class="icons">
        <a href="https://www.oshsu.kg/ru" class="logo"><i class="bi bi-bank"></i> <span>MyUni</span></a>
        <p class="logo"><i class="bi bi-question-circle-fill"></i></p>
      </div>
      <hr class="horizontal-line">
    </div>
    <div class="container">
      <div class="content">
        <div class="list_person">
          <h3>Кто вы?</h3>
          <ul>
            <li><a href="#question_apnt">Я абитуриент</a></li>
            <li><a href="#">Я студент</a></li>
            <li><a href="#">Я преподаватель</a></li>
          </ul>
          <a href="{{ request.META.HTTP_REFERER }}" class="button-redirect">Вернуться на предыдущую страницу</a>
        </div>
        <div class="aal_questions">
          <h3 id="question_apnt">Часто задаваемые вопросы абитуриентов</h3>
          <div class="questions">
            <details>
              <summary>Как зарегистрироваться?</summary>
              <ul>
                <li>Когда вы вошли на сайт вы перейдете на страницу авторизации, снизу справа есть ссылка "Нет аккаунта?", нажмите на него чтобы перейти на страницу регистрации</li>
                <li>Когда вы на странице регистрации введите 4 формы, <span>Логин = это может быть имя студента</span><span>Пароль = это пароль который поможет вам войти в вашу учетную запись(Запомните или запишите пароль чтобы не забыть)</span><span>Повторите пароль = это тот же пароль который вы вели, ВНИМАНИЕ: пароли чувствительны к регистру!</span><span>email = это ваш электронный адрес, и вам нужно ввести все на латыни и в нижнем регистре(рекомендуется ввести имя или фамилию), в конце вам нужно обязательно @apnt.mu иначе вы не можете пройти регистрацию</span></li>
                <li>После этого нажмите на зарегистрироваться, и вас перекинет на второй шаг регистрации, тут нужно ввести все данные коректно и нажать на добавить данные, ВНИМАНИЕ: если вы выйдете не заполнив данные ваш сохраненный уч. запись будет удален!. После нажатия на кнопку вас перекинет на личный кабинет</li>
              </ul>             
            </details>
            <details>
              <summary>Как войти свой учетный запись?</summary>
              <p>Введите логин, пароль и email который вы ввели когда проходили регистрацию(проверьте на окончание email если вы ещё не прошли не в одну группу то введите @apnt.mu но если вы уже выбрали группу и прошли к нему то вы уже являетесь студентом и вам нужно ввести @std.mu)</p>
            </details>
            <details>
              <summary>Что делать если потерял пароль от учетной записи?</summary>
              <p>Сожалею</p>
            </details>
            <details>
              <summary>Почему я не могу вступить на группу?</summary>
              <p>Если у вас не достаточно ОРТ балла или вы уже вступили другую группу то вы не можете вступить</p>
            </details>
            <details>
              <summary>Сколько бюджетных мест есть в группах?</summary>
              <p>Когда вы вступаете группу там показано сколько осталось мест или сколько баллов вам нужно набрать чтобы вступить в бюджет</p>
            </details>
            <details>
              <summary>Какие документы нужны?</summary>
              <ul>
                <li>Паспорт</li>
                <li>Аттестат</li>
                <li>ОРТ сертификат</li>
                <li>3*4 фото 6 штук</li>
                <li>Медицинская справка</li>
                <li>Заявление об поступление</li>
              </ul>
            </details>
            <details>
              <summary>Как, когда и куда подавать документы?</summary>
              <p>Документы нужно подавать в живую, это можете сделать вы или ваш знакомый, нужно подавать после того как вы прошли онлайн в нужную группу но не позже чем 14-дней после поступление ином случи вы будите отчислены автоматически и вм будет нужно пройти заново в нужную группу как абитуриент.Подавайте документы в указанный срок по этому адресу: Ленина 331.А 1-этаж 111 кабинет</p>
            </details>
            <details>
              <summary>Я вступил группу и хотел бы поменять, как мне это сделать?</summary>
              <p>Вы в любой момент можете отчислится и как абитуриент пройти в нужную группу с нуля, учтите если вы уже подали документы то вам придется забрать(это можно сделать в том же месте где подавали) и снова подавать</p>
            </details>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}